<div class="contenedor-parallax centrar-contenedor grid-col-1">
    <div class="contenedor-parallax__titulo">
        <h1 class="contenedor-parallax__h1">Lorem ipsum dolor sit</h1>
        <p class="contenedor-parallax__p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dicta. Ea
            corrupti beatae laboriosam quisquam.
        </p>
    </div>
</div>
<div class="grid-col-1 md:grid-cols-3" style="min-height: 250px">
    <div class="contenedor-info lg:px-16">
        <div class="contenedor-info__ico">
            <i class="fas fa-seedling text-5xl"></i>
        </div>
        <div class="contenedor-info__tit">
            <h2>Lorem ipsum dolor sit amet.</h2>
        </div>
        <div class="contenedor-info__par">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nemo
                doloremque fugiat quo illum dolorem adipisci nobis ipsum.
            </p>
        </div>
    </div>
    <div class="contenedor-info lg:px-16">
        <div class="contenedor-info__ico">
            <i class="far fa-lemon text-5xl"></i>
        </div>
        <div class="contenedor-info__tit">
            <h2>Lorem ipsum dolor sit amet.</h2>
        </div>
        <div class="contenedor-info__par">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nemo
                doloremque fugiat quo illum dolorem adipisci nobis ipsum.
            </p>
        </div>
    </div>
    <div class="contenedor-info lg:px-16">
        <div class="contenedor-info__ico">
            <i class="fas fa-truck text-5xl"></i>
        </div>
        <div class="contenedor-info__tit">
            <h2>Lorem ipsum dolor sit amet.</h2>
        </div>
        <div class="contenedor-info__par">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nemo
                doloremque fugiat quo illum dolorem adipisci nobis ipsum.
            </p>
        </div>
    </div>
</div>