<div class="contenedor-footer grid grid-cols-1 lg:grid-cols-3">
    <div class="seccion">
        <div class="seccion-titulo">
            <h1 class="seccion-titulo__h1">BestFruit</h1>
        </div>
        <div class="seccion-imagen flex justify-center my-4">
            <img src="../static/img/BestFruit.png" alt="Logo" class="seccion-imagen__img" />
        </div>
        <div class="seccion-info px-4">
            <p class="seccion-info__p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in
                erat eu neque egestas ultrices vel convallis augue. Maecenas mollis
                nisi ut dui pulvinar, vitae dapibus eros molestie.
            </p>
        </div>
    </div>
    <div class="seccion">
        <div class="seccion-titulo">
            <h1 class="seccion-titulo__h1">Menú</h1>
        </div>
        <div class="seccion-enlaces">
            <ul class="grid content-between" style="height: 290px">
                <a href="">
                    <li class="seccion-enlaces__li">Link 1</li>
                </a>
                <a href="">
                    <li class="seccion-enlaces__li">Link 2</li>
                </a>
                <a href="">
                    <li class="seccion-enlaces__li">Link 3</li>
                </a>
                <a href="">
                    <li class="seccion-enlaces__li">Link 4</li>
                </a>
                <a href="">
                    <li class="seccion-enlaces__li">Link 5</li>
                </a>
                <a href="">
                    <li class="seccion-enlaces__li">Link 6</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="seccion grid">
        <div class="seccion-titulo">
            <h1 class="seccion-titulo__h1">Contactanos en...</h1>
        </div>
        <div class="seccion-contactos">
            <div class="medio-contacto">
                <div class="contenedor-icono">
                    <i class="contenedor-icono__i fas fa-phone-square-alt"></i>
                </div>
                <div class="contenedor-texto">
                    <span class="contenedor-texto__span">+56 9 1122 3344</span>
                </div>
            </div>
            <div class="medio-contacto">
                <div class="contenedor-icono">
                    <i class="contenedor-icono__i fas fa-envelope-square"></i>
                </div>
                <div class="contenedor-texto">
                    <span class="contenedor-texto__span">noexiste@bestfruit.cl</span>
                </div>
            </div>
            <div class="medio-contacto">
                <div class="contenedor-icono">
                    <i class="contenedor-icono__i fab fa-instagram-square"></i>
                </div>
                <div class="contenedor-texto">
                    <span class="contenedor-texto__span">@BestFruit</span>
                </div>
            </div>
        </div>
        <div class="seccion-copyright">
            <span class="seccion-copyright__span">&copy; 2020 BestFruit</span>
        </div>
    </div>
</div>