  <div class="contenedor-navbar grid grid-cols-1 md:grid-col-6">
      <div class="contenedor-menu flex justify-end border-b pr-4 md:hidden">
          <span class="py-4"><i class="fas fa-bars text-white text-3xl"></i></span>
      </div>
      <a href="/">
          <div class="contenedor-logo hidden md:flex centrar-contenedor"></div>
      </a>
      <div class="contenedor-enlace md:col-span-3">
          <ul class="contenedor-enlace__ul grid grid-cols-1 md:grid-cols-5">
              <a href="{% url 'home' %}"
                  class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0 contenedor-enlace__li--activo md:rounded-md">
                  <li>Inicio</li>
              </a>
              <a href="#" class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0">
                  <li>Qué Hacemos?</li>
              </a>
              <a href="#" class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0">
                  <li>Servicios</li>
              </a>
              <a href="#" class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0">
                  <li>Contacto</li>
              </a>
              <a href="#" class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0">
                  <li>Donaciones</li>
              </a>
          </ul>
      </div>
      <div class="contenedor-btn grid grid-cols-1 col-span-3 md:grid-col-2 md:col-span-2">
          <div class="centrar-contenedor py-2 md:py-0">
              <a href="{% url 'login' %}" class="btn btn-blue w-full md:w-48 hover:bg-blue-600"><span
                      class="text-white">Ingresar</span></a>
          </div>
          <div class="centrar-contenedor py-2 md:py-0">
              <a href="{% url 'registro' %}" class="btn btn-orange w-full md:w-48 hover:bg-orange-600"><span
                      class="text-white">Registrarse</span></a>
          </div>
      </div>
  </div>