<div class="crearSolicitud-contenedor" style="padding-left:2rem; padding-right:2rem; padding-bottom:2rem">

	<form id="oferta-productor" action="">
		{% for d in detallepedidos %}
		<div class="HistorialCompra-contenedor-titulo">
			<h2 class="HistorialCompra-contenedor-titulo__h4">Variedad Solicitada:</h2>
		</div>
		<br>
		<div class="crearSolicitud-contenedor-formulario grid grid-cols-1 sm:grid-cols-4">
			
			<!-- Especie -->
			<div class="contenedor-selects">
				<select id="especie" name="especie" onchange="cambiarVariedad()"
					class="contenedor-selects__select focus:outline-none focus:border-orange-500">
					<option value=""> {{d.data.5}}</option>
		
				</select>
				<!-- <i class="fas fa-angle-down absolute right-0 mr-2"></i> -->
			</div>
			<!-- Variedad -->
			<div class="contenedor-selects">
				<select id="variedadEspecie" name="variedad"
					class="contenedor-selects__select focus:outline-none focus:border-orange-500">
					<option value=""> {{d.data.6}}</option>
				</select>

				<!-- <i class="fas fa-angle-down absolute right-0 mr-2"></i> -->
			</div>
			<!-- Cantidad -->
			<div class="contenedor-inputs">
				<input id="crearSolicitud-cantidad" name="crearSolicitud-cantidad" type="text"
					class="input focus:outline-none focus:border-orange-500" placeholder="Ingrese kilos:" />
			</div>
			<div class="contenedor-inputs">
				<input id="crearSolicitud-cantidad" name="crearSolicitud-cantidad" type="text"
					class="input focus:outline-none focus:border-orange-500" placeholder="Ingrese precio:" />
			</div>
			
			<!-- Btn -->
			<div class="contenedor-btns">
				<button type="menu" class="btn bg-green-500 text-white w-full focus:outline-none">
					Agregar Fruta
				</button>
			</div>
		</div>
		{% endfor %}
	</form>
	<br>
	<h2 class="detalle-contenedor-titulo__h1 md:px-20"><td>Confirmar oferta:</td></h2>
	<div class="crearSolicitud-contenedor-tabla">
			<table class="listarSolicitud-contenedor-solicitudes">
				<thead>
					<tr class="crearSolicitud-contenedor-tabla__tr">
						<th class="crearSolicitud-contenedor-tabla__th w-1/12">#</th>
						<th class="crearSolicitud-contenedor-tabla__th w-1/3 text-left">Fruta</th>
						<th class="crearSolicitud-contenedor-tabla__th w-1/3 text-left">Variedad Fruta</th>
						<th class="crearSolicitud-contenedor-tabla__th w-1/12">Cantidad</th>
						<th class="crearSolicitud-contenedor-tabla__th w-1/12">Quitar</th>
					</tr>
				</thead>
				<tbody class="crearSolicitud-contenedor-tabla__tbody">
					<tr class="crearSolicitud-contenedor-tabla-tbody__tr">
						<td class="crearSolicitud-contenedor-tabla__td text-center">1</td>
						<td class="crearSolicitud-contenedor-tabla__td">Manzana</td>
						<td class="crearSolicitud-contenedor-tabla__td">Candy</td>
						<td class="crearSolicitud-contenedor-tabla__td text-center">10</td>
						<td class="crearSolicitud-contenedor-tabla__td text-center">
							<button type="menu" class="px-2 py-1 rounded-lg bg-red-500 text-white focus:outline-none"><i
									class="fas fa-trash"></i></button>
						</td>
					</tr>
					<tr class="crearSolicitud-contenedor-tabla-tbody__tr">
						<td class="crearSolicitud-contenedor-tabla__td text-center">2</td>
						<td class="crearSolicitud-contenedor-tabla__td">Platano</td>
						<td class="crearSolicitud-contenedor-tabla__td">Amarillo</td>
						<td class="crearSolicitud-contenedor-tabla__td text-center">15</td>
						<td class="crearSolicitud-contenedor-tabla__td text-center">
							<button type="menu" class="px-2 py-1 rounded-lg bg-red-500 text-white focus:outline-none"><i
									class="fas fa-trash"></i></button>
						</td>
					</tr>
					<tr class="crearSolicitud-contenedor-tabla-tbody__tr">
						<td class="crearSolicitud-contenedor-tabla__td text-center">3</td>
						<td class="crearSolicitud-contenedor-tabla__td">Peras</td>
						<td class="crearSolicitud-contenedor-tabla__td">Verdes</td>
						<td class="crearSolicitud-contenedor-tabla__td text-center">30</td>
						<td class="crearSolicitud-contenedor-tabla__td text-center">
							<button type="menu" class="px-2 py-1 rounded-lg bg-red-500 text-white focus:outline-none"><i
									class="fas fa-trash"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
		<div class="contenedor-btns centrar-contenedor">
			<button type="menu" class="btn bg-green-500 text-white w-1/4 focus:outline-none">
				Enviar Solicitud
			</button>
		</div>
	</div>
</div>

