{% extends 'base.html' %}
{%load humanize%}

{% block title %} Detalle {% endblock %}

{% block content%} 
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="detalle-contenedor"> 
        {% for d in db_vlocal %} 
        <div class="detalle-contenedor-titulo md:col-span-3">
            <h1 class="detalle-contenedor-titulo__h1 md:px-20"><td>{{d.data.5}} {{d.data.6}}</td></h1>
        </div>
        <div class="detalle-contenedor-descripcion  md:grid-cols-3">
            <div class="detalle-contenedor-imagen centrar-contenedor">
                <img src="data:imagen/jpg;base64, {{d.imagen}}" alt="{{d.data.5}} {{d.data.6}}" class="detalle-contenedor-imagen__img">       
            </div>
            <div class="detalle-contenedor-informacion md:col-span-2 md:m-0"> 
                <div class="detalle-contenedor-precio md:text-left">
                    <span class="detalle-contenedor-precio__span ">$<td> {{d.data.3|intcomma}} - {{d.data.4}} Kg.</td></span>
                </div>
                <div class="detalle-contenedor-caracteristica md:my-2 md:h-48">
                    <span class="detalle-contenedor-caracteristica__span">Características</span>
                    <ul>
                     <br>
                        <li class="detalle-contenedor-caracteristica__li">Kilos oferta:<td> {{d.data.4}} Kg.</td></li>
                        <li class="detalle-contenedor-caracteristica__li">Fecha cosecha:<td> {{d.data.8}}</td></li>
                        <li class="detalle-contenedor-caracteristica__li">Descripción:<br><br><td> {{d.data.11}}</td></li>
                    </ul>
                </div>                  
                    <a href="{% url 'comprar' d.data.0 %}">
                        <div class="detalle-contenedor-btn centrar-contenedor md:m-0 md:justify-start md:items-end">
                        <span class="btn bg-green-500 w-3/4 md:w-1/3 text-white font-lato">Comprar</span>
                    </div></a>
            </div>
        </div>
        {% endfor %}
 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}
