{% extends "base.html" %}

{% block title %} Registro {% endblock %}

{% block content %}

<div class="registro-contenedor centrar-contenedor">
	<div class="ventana-registro">
		<div class="ventana-titulo">
			<h2 class="ventana-titulo__h1">Formulario de Registro</h2>
		</div>
		<form id="registro-formulario" action="" metod="POST">
			{% csrf_token %} 
			<div class="formulario-registro grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
				<!-- Identificacion -->
				<div class="registro-contenedor-inputs">
					<input id="registro-rut" name="registro-rut" type="text"
						class="registro-contenedor-inputs__input focus:outline-none focus:border-orange-500"
						placeholder="Run o Pasaporte" />
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">El Run ingresado no es valido. En caso de
							ser
							el numero de pasaporte, favor activar la opcion "Es Pasaporte?".</span>
					</div>
				</div>
				<div class="registro-contenedor-checkboxs flex justify-center">
					<p class="font-lato m-4">Es pasaporte?</p>
					<input id="registro-pasaporte" name="registro-pasaporte" type="checkbox"
						class="registro-contenedor-checkboxs__checkbox" />
				</div>
				<div class="registro-contenedor-inputs">
					<input id="registro-fecha" name="registro-fecha" type="text"
						class="registro-contenedor-inputs__input focus:outline-none appearance-none focus:outline-none focus:border-orange-500"
						placeholder="Fecha de Nacimiento" />
					<div class="contenedor-inputs-error block">
						<span class="contenedor-inputs-error__span">Fecha ingresada no valida. Ej.
							{{ fechaActual|date:"d/m/Y" }}.</span>
					</div>
				</div>
				<!-- Nombre Completo -->
				<div class="registro-contenedor-inputs">
					<input id="registro-nombre" name="registro-nombre" type="text"
						class="registro-contenedor-inputs__input focus:outline-none focus:border-orange-500"
						placeholder="Nombre" />
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">Solo se aceptan caracteres
							alfabeticos.</span>
					</div>
				</div>
				<div class="registro-contenedor-inputs">
					<input id="registro-Paterno" name="registro-Paterno" type="text"
						class="registro-contenedor-inputs__input focus:outline-none focus:border-orange-500"
						placeholder="Apellido Paterno" />
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">Solo se aceptan caracteres
							alfabeticos.</span>
					</div>
				</div>
				<div class="registro-contenedor-inputs">
					<input id="registro-materno" name="registro-materno" type="text"
						class="registro-contenedor-inputs__input focus:outline-none focus:border-orange-500"
						placeholder="Apellido Materno" />
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">Solo se aceptan caracteres
							alfabeticos.</span>
					</div>
				</div>
				<!-- Correo y Numero -->
				<div class="registro-contenedor-inputs lg:col-span-2">
					<input id="registro-correo" name="registro-correo" type="email"
						class="registro-contenedor-inputs__input lg:w-full focus:outline-none focus:border-orange-500"
						placeholder="Correo Electronico" />
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">Correo ingresado no valido. Solo se aceptan
							caracteres alfanumericos, guiones o puntos.</span>
					</div>
				</div>
				<div class="registro-contenedor-inputs">
					<input id="registro-celular" name="registro-celular" type="text"
						class="registro-contenedor-inputs__input focus:outline-none appearance-none focus:border-orange-500"
						placeholder="Numero de Telefono" />
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">Solo se aceptan caracteres numericos. Ej.
							56 9 XXXX XXXX</span>
					</div>
				</div>
				<!-- Direccion -->
				<div class="registro-contenedor-inputs lg:col-span-3">
					<input id="registro-direccion" name="registro-direccion" type="text"
						class="registro-contenedor-inputs__input lg:w-full focus:outline-none focus:border-orange-500"
						placeholder="Direccion" />
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">Solo se aceptan caracteres
							alfabeticos.</span>
					</div>
				</div>
				<!-- Selects -->
				<div class="registro-contenedor-selects">
					<select name="region" id="region" >
						<option value="">Seleccione Región</option>
						{% for p in region %} 
							<option value="{{ p.0 }}">{{ p.0 }}</option>
						{% endfor %}
					</select>
					<!-- <i class="fas fa-angle-down absolute right-0 mr-2"></i> -->
				</div>
				<div class="registro-contenedor-selects">
					<select id="registro-provincia" name="registro-provincia"
						class="registro-contenedor-selects__select focus:outline-none focus:border-orange-500">
						{% for p in region %}
						<option value="" selected="true" disabled="disabled">Selecciona Provincia</option>
						 
							<option value="{{ p.1 }}">{{ p.1 }}</option>
						{% endfor %}
					</select>
					<!-- <i class="fas fa-angle-down absolute right-0 mr-2"></i> -->
				</div>
				<div class="registro-contenedor-selects">
					<select id="registro-comuna" name="registro-comuna"
						class="registro-contenedor-selects__select focus:outline-none focus:border-orange-500">
						<option value="" selected="true" disabled="disabled">Selecciona Comuna</option>
						{% for p in region %} 
							<option value="{{ p.2 }}">{{ p.2 }}</option>
						{% endfor %}
					</select>
					<!-- <i class="fas fa-angle-down absolute right-0 mr-2"></i> -->
				</div>
				<!-- Contrasenia -->
				<div class="registro-contenedor-inputs">
					<input id="registro-contrasenia1" name="registro-contrasenia1" type="password"
						class="registro-contenedor-inputs__input focus:outline-none focus:border-orange-500"
						placeholder="Contraseña" />
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">La contrasenia debe contener de 6 a 12
							caracteres.</span>
					</div>
				</div>
				<div class="registro-contenedor-inputs">
					<input id="registro-contrasenia2" name="registro-contrasenia2" type="password"
						class="registro-contenedor-inputs__input focus:outline-none focus:border-orange-500"
						placeholder="Confirme Contraseña" />
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">Las contrasenias no coincide.</span>
					</div>
				</div>
				<!-- Btn -->
				<div class="registro-contenedor-btns md:col-span-2 lg:col-span-3">
					<button type="submit" class="formulario-login__btn btn w-full focus:outline-none">
						Registrarse
					</button>
					{{mensaje}}
					<span class="block font-lato text-sm text-center mt-2">Al registrarte, aceptas nuestras condiciones de uso y políticas de privacidad</span>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- 
<div class="registro-contenedor-selects">
	<div class="registro-contenedor-selects__select relative">
		<span>Selecciona</span> 
	<i class="fas fa-angle-down absolute right-0 mr-2"></i>
	</div>

		<div class="registro-contenedor-options">
			<div class="registro-contenedor-options__option">
				<input type="radio" class="registro-contenedor-options__radio"><label for="" class="registro-contenedor-options__label">Region 1</label>
			</div>
		</div>
</div>

<script>
	const seleccionado = document.querySelector('.registro-contenedor-selects__select');
	const contenedorOpciones = document.querySelector('.registro-contenedor-options');
	const opciones = document.querySelectorAll('.registro-contenedor-options__option');

	seleccionado.addEventListener('click', () => contenedorOpciones.classList.toggle('registro-contenedor-options--activo'))
	opciones.forEach(item => {
		item.addEventListener('click', () => {
			seleccionado.innerHTML = item.querySelector('label').innerHTML;
			contenedorOpciones.classList.remove('registro-contenedor-options--activo');
		});
	});

</script>

<style>
.registro-contenedor-options{
	background-color: #f7fafc;
	max-height: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
	border-radius: 4px;
	overflow: hidden;
}

.registro-contenedor-options::-webkit-scrollbar{
	width: 10px;
	background-color: #ed8936;
	border-radius: 0 8px 8px 0;
}

.registro-contenedor-options::-webkit-scrollbar-thumb{
	background-color: #48bb78;
	border-radius: 0 8px 8px 0;
}

.registro-contenedor-options--activo{
	max-height: 100px;
	opacity: 1;
	overflow-y: scroll;
}

.registro-contenedor-selects__select,.registro-contenedor-options__option{
	cursor: pointer;
	padding: 12px 24px;
}

.registro-contenedor-options__label{
	cursor: pointer;
}

.registro-contenedor-options__option:hover{
	background-color: #edf2f7;
}

.registro-contenedor-options__radio{
	display: none;
}
</style> -->

<script>
	// Inicio DatePicker JQuery
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '< Ant',
		nextText: 'Sig >',
		currentText: 'Hoy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre',
			'Noviembre', 'Diciembre'
		],
		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
		dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
	};
	$.datepicker.setDefaults($.datepicker.regional['es']);

	$('#registro-fecha').datepicker({
		changeMonth: true,
		changeYear: true,
		maxDate: "+0D"
	});
	// Fin DatePicker JQuery


	// Inicio Select Select2
	$(document).ready(function () {

		$("#registro-region").select2({
			placeholder: "",
			language: {
				noResults: function () {

					return "No hay resultado";
				},
				searching: function () {

					return "Buscando..";
				}
			}
		});

		$("#registro-provincia").select2({
			placeholder: "",
			language: {
				noResults: function () {

					return "No hay resultado";
				},
				searching: function () {

					return "Buscando..";
				}
			}
		});

		$("#registro-comuna").select2({
			placeholder: "",
			language: {
				noResults: function () {

					return "No hay resultado";
				},
				searching: function () {

					return "Buscando..";
				}
			}
			// theme: "default registro-contenedor-selects__select"
		});

	});
	// Fin Select Select2
</script>

{% endblock %}