{% extends 'base.html' %}

{% block title %} {{ tituloPagina }} {% endblock %}

{% block navbar %} {% include 'include/navbar-admin.html' %} {% endblock %}

{% block titulo %} {% include 'include/titulo_usuario.html' %} {% endblock %}

{% block content %}
    <div class="usuario-contenedor grid justify-center lg:my-10" >
    </div>
    <div class="usuario-contendor-general grid grid-col-1 lg:grid-cols-4" style="padding-left:5rem; padding-right:5rem; padding-bottom:5rem">
        <div class="usuario-contenedor-modal">
            {% block contentUsuario %}{% endblock %}
        </div>
        <div class="usuario-contenedor-aside">
            <aside class="usuario-aside grid grid-cols-4 lg:grid-cols-1">
                {% if perms.core.view_pago %}
                    <!-- historial de compra-->
                    <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                        <a href="javascript:enviar_formulario2()">
                            <i class="fas fa-clipboard-check usuario-contenedor-btns__i usuario-contenedor-btns__i--activo"></i>
                            <span class="usuario-contenedor-btns__span lg:inline-block usuario-contenedor-btns__span--activo">
                            Historial de Compras</span>
                        </a>
                        <form action="{% url 'historial_compra' %}" method="POST" name="formulario2">
                            {% csrf_token %}
                            <input type="hidden" name="valcorreo" value="{{user.email}}" >
                        </form>
                        <script>
                            function enviar_formulario2(){
                                document.formulario2.submit()
                            }
                        </script>
                    </div>
                    <!-- Pedidospuntos -->
                    <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                        <a href="#">
                            <i class="fas fa-shopping-cart usuario-contenedor-btns__i"></i>
                            <span class="usuario-contenedor-btns__span lg:inline-block">Puntos</span>
                        </a>
                    </div>
                {% else %}
                    {% if perms.core.view_solicitud %}
                        <!-- Solicitud de Compra -->
                        <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                            <a href="{% url 'solicitud' %}" class="">
                                <i class="fas fa-clipboard-check usuario-contenedor-btns__i usuario-contenedor-btns__i--activo"></i>
                                <span class="usuario-contenedor-btns__span lg:inline-block usuario-contenedor-btns__span--activo">Solicitud de Compra</span>
                            </a>
                        </div>
                        <!-- Pedidos -->
                        <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                            <a href="javascript:enviar_formulario7()">
                                <i class="fas fa-shopping-cart usuario-contenedor-btns__i"></i>
                                <span class="usuario-contenedor-btns__span lg:inline-block">Pedidos</span>
                            </a>
                        </div>
                        <form action="{% url 'pedido' %}" method="POST" hidden="hidden" name="formulario7" >
                                    {% csrf_token %}
                                    <input type="hidden" value="{{request.user.username}}" name="valcorreo">
                                </form>
                        </form>
                            <script>
                            function enviar_formulario7(){
                            document.formulario7.submit()
                            }
                        </script>
                    {% else %}
                        {% if perms.core.view_detalleoferta %}
                            <!-- historial de Ofertas-->
                            <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                                <a href="javascript:enviar_formulario4()">
                                    <i class="fas fa-clipboard-check usuario-contenedor-btns__i usuario-contenedor-btns__i--activo"></i>
                                    <span class="usuario-contenedor-btns__span lg:inline-block usuario-contenedor-btns__span--activo">
                                    Historial de Ofertas</span>
                                </a>
                                <form action="{% url 'historial_ofertas' %}" method="POST" hidden="hidden" name="formulario4" >
                                    {% csrf_token %}
                                    <input type="hidden" value="{{request.user.username}}" name="valcorreo">
                                </form>
                                <script>
                                    function enviar_formulario4(){
                                    document.formulario4.submit()
                                    }
                                </script>
                            </div>
                            <!-- Pedidospuntos -->
                            <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                                <a href="{% url 'portalDeOfertas' %}">
                                    <i class="fas fa-shopping-cart usuario-contenedor-btns__i"></i>
                                    <span class="usuario-contenedor-btns__span lg:inline-block">
                                    Portal de Ofertas</span>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if perms.core.view_ventalocal %}
                                    
                 {% else %}              
                    <!-- Cuenta -->
                    <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                        <a href="javascript:enviar_formulario5()">
                            <i class="fas fa-address-card usuario-contenedor-btns__i"></i>
                            <span class="usuario-contenedor-btns__span lg:inline-block">
                            Cuenta</span>
                        </a>
                        <form action="{% url 'informacion' %}" method="GET" hidden="hidden" name="formulario5" >
                            {% csrf_token %}
                            <input type="hidden" value="{{request.user.username}}" name="valcorreo">
                        </form>
                        <script>
                            function enviar_formulario5(){
                            document.formulario5.submit()
                            }
                        </script>
                    </div>
                    <!-- Salir -->
                    <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt usuario-contenedor-btns__i"></i>
                            <span class="usuario-contenedor-btns__span lg:inline-block">
                            Salir</span>
                        </a>
                    </div>
                {% endif %}
            </aside>
        </div>
    </div>

{% endblock %}